<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>demo</title>
</head>
<body class="container">
	<div th:replace="common/header :: header">
		<header>
		<ul>
			<li>static - news</li>
			<li>static - blog</li>
			<li>static - post</li>
		</ul>
	</header>
	</div>
	<div class="container">
		<h1>hello world</h1>
	</div>
	<div th:include="common/footer :: footer"></div>
</body>
</html>